@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    /*background-image: url(img/black.png);*/
    /*background-repeat: round;*/
}

h1, h2, h3, h4, h5, h6, {
    font-family: 'Noto Sans',sans-serif;
}

p, a{
    font-family: 'Exo 2',sans-serif;
}

header nav ul li img {
    padding: 0px 0px 0px 20px;
    width: 60px;
}


.flex {
    display: flex;
}

header {
    background: #000;
}

header nav {
    align-items: center;
    justify-content: space-between;
}

header nav ul li, a {
    margin-right: 10px;
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
}

header nav ul li a:hover {
    color: #fff;
}

.parte1 {
    align-items: center;
    padding-right: 0em;
}

.parte2 {
    padding: 5px 10px;
    margin-right: 130px;
    align-items: space-around;
    border: 2px solid rgba(255, 255, 255, .7);
}

