.flexVan {
    display: flex;
}

section {
    margin: 30px auto;
}

h2 {
    padding-bottom: 5%;
    padding-left: 10%;
}

p {
    padding-left: 10%;
    width: 50%;
}

section aside {
    border: 1px solid #2c2e33;
    background: #36393f;
    padding: 40px 70px;
    margin: 10px 15% 10px 0px;
    color: #fff;
    border-radius: 2%; 
}

section aside h3 {
    text-align: center;
    padding: 20px 0px;
    font-weight: normal;
}

section aside form input {
    display: block;
    margin: 10px 0px;
    border: 1px solid rgba(0, 0, 0, .5);
    background: #303339;
    width: 200px;
    height: 30px;
    border-radius: 5%;
}

section aside input:hover {
    border: 1px solid #000;
}

section aside input:focus {
    border: 1px solid #54618d;
}

section aside input.cajita {
    border-radius: 5%;
    border: 1px solid #7289da;
    font-size: 15px;
    font-weight: bold;
    padding: 3%;
    margin-top: 30px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, .8);
    background: #7289da;
}

section aside input.cajita:hover {
    color: #fff;
}

footer {

}

footer img {
    padding: 0px 0px 0px 20px;
    width: 60px;
}


