@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
}

p {
    font-family: 'Bitter', serif;
}