section nav a {
    text-decoration: none;
}
.container {
  
    margin-left: 150px;
    margin-right: 150px;
}

section nav div a {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}