@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 90%;
    max-width: 1800px;
    margin: 0px auto;
    background-image: url(img/black.png);*/
    background-repeat: round;*/
}

h1, h2, h3, h4, h5, h6, {
    font-family: 'Noto Sans',sans-serif;
}

p, a{
    font-family: 'Exo 2',sans-serif;
}

header nav ul li img {
    padding: 10px 0px 0px 20px;
    width: 60px;
}


.flex {
    display: flex;
}

header {
    /*background: #000;*/
}

header nav {
    align-items: center;
    justify-content: space-between;
}

header nav ul li, a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
}

.parte1 {
    align-items: center;
    padding-right: 34em;
}

.parte2 {
    margin-right: 100px;
}

