*{
    margin: 0;
    padding: 0;
}

body {
    background: #BDC3C7;
    font-family: Arial;
}

h1, h2 {
    color: #BEDB39;
}

a {
    color: #374140;
}

p {
    color: #2A2C2B;
}

#biografia {
    background: #272928;
}

#carrera {
    background: #222322;
}

#premios {
    background: #1f2020;
}

#vida_personal {
    background: #1c1d1d;
}

#galerias_de_imagenes {
    background: #191a1a;
}

/* Herencia Css */
nav {
    background: #DDD;
    padding: 10px;
    border: solid 1px gray;
}

nav a {
    color: dodgerblue;
    padding: 5px;
    margin: 10px;
    border: solid 1px dodgerblue;
    text-decoration: none;
    text-transform: uppercase;
    background: #FFF;
    display: inline-block;
}

nav a:hover {
    background: dodgerblue;
    color: white;
}